:root {
    --dark-background-color: #1f2937;
    --primary-text-color: #f9faf8;
}

html {
    font-size: 100%;
    box-sizing: border-box;
}

*, *::before, *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
}

ul {
    display: flex;
    gap: 20px;
    list-style-type: none;
}

#main-nav {
    display: flex;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    background-color: var(--dark-background-color);
    color: var(--primary-text-color);
}

#hero-image {
    width: 300px;
    height: auto;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
